<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
</head>
<link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.css">

<body>
  <div class="header container">
    <div class="page-header">
      <a class="btn btn-primary" href="post" role="button">发表留言</a>
    </div>
  </div>
  <div class="comments container">
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>

</body>

</html>