<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
</head>
<link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.css">

<body>
  <div class="header container">
    <h1>留言板 <span class="badge badge-secondary"></span></h1>
    <div class="page-header">
      <a class="btn btn-primary" href="post" role="button">发表留言</a>
    </div>
  </div>
  <hr>
  <div class="comments container">
    <ul class="list-group">
      {{each comments}}
      <li class="list-group-item">{{$value.name}}说:{{$value.content}} <span class="float-right">{{$value.time}}</span></li>
      {{/each}}
    </ul>
  </div>

</body>

</html>