<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.css">

<body>
  <div class="header container">
    <h1 class="aa"><a href="html">首页</a> </h1><p>发表留言</p>
  </div>
  <hr>
  <div class="comments container">
    <form action="comment" method="GET">
      <div class="form-group">
        <label for="inputName">姓名</label>
        <input type="text" 
               class="form-control" 
               id="inputName" 
               name="name"
               required minlength="2" maxlength="10"
               placeholder="输入你的用户名">
      </div>
      <div class="form-group">
        <label for="textareaContent">留言</label>
        <textarea class="form-control" 
                  id="textareaContent" 
                  rows="3" 
                  name="content"
                  required minlength="5" maxlength="20"
                  placeholder="说点什么吧..."></textarea>
      </div>
      <button type="submit" class="btn btn-primary" >提交</button>
    </form>
  </div>
</body>
</html>