<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>radio</title>
</head>
<body>
    <div id="app">
        <label for="">
            <input type="radio" id="male" name="sex" value="男" v-model="sex">男
        </label>
        <label for="">
            <input type="radio" id="female" name="sex" value="女" v-model="sex">女
        </label>
        <h2>选择的性别为:{{sex}}</h2>
    </div>
    
</body>
<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
<script src='./index.js'></script>
</html>