<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="app">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>书籍名称</th>
                    <th>出版日期</th>
                    <th>价格</th>
                    <th>购买数量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in books">
                    <!-- <td v-for="value in item">{{value}}</td> -->
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.date}}</td>
                    <td>{{getFixPrice(item.price)}}</td>
                    <td>
                        <button>-</button>
                        {{item.count}}
                        <button>+</button>
                    </td>
                    <td><button>移除</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
<script src='./index.js'></script>

</html>